#page {
    font-family: Arial, verdana, sans-serif;
}
#content {
    margin-top: 115px;
}
div .logo-blur {
    font-size: 48px;
    color: #596198;
    font-weight: bold;
    margin-bottom: -20px;
}
div .logo-blur-footer {
    font-size: 48px;
    color: #596198;
    font-weight: bold;
    margin-bottom: -10px;
}
div .logo-green {
    font-size: 24px;
    color: #7be0d0;
    margin-top: -20px;
    text-align: center;
    font-weight: bold;
}
div .logo-green-footer {
    font-size: 24px;
    color: #7be0d0;
    margin-top: -10px;
    text-align: center;
    font-weight: bold;
}
.login-button {
    color: #fff;
    background-color: #7be0d0;
    border-color: #7be0d0;
    font-size: 24px;
    margin-right: 50px;
}

.login-button:hover {
    color: #7be0d0;
    background-color: #fff;
    border-color: #7be0d0;
    font-size: 24px;
}

.nav-link-new {
    color: rgba(0, 0, 0, 1);
    display: block;
    padding: 0.5rem 1rem;
    font-size: 24px;
}

.nav-link-new:hover, .nav-link-new:focus {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-size: 24px;
}

.nav-link-new.disabled {
    color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    cursor: default;
    font-size: 24px;
}

.main-logo {
    margin-right: 50px;
    margin-left: 50px;
    font-size: 24px;
}

.main-logo-footer {
    font-size: 24px;
}

.main-nav {
    box-shadow: 0 2px 40px hsla(0, 0%, 0%, 0.10);
    position: fixed;
    z-index:10;
	top: 0;
	width: 100%;
	background-color: white;
}

.advice-main {
    width: 100%;
    max-width: 100%;
    align-items: center;
    height: 100%;
    /*
    height: calc(100vh-110px);
    */
    min-height: 600px;
    background-size: cover;
    position: relative;
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.advice-main-image {
    background-image: url(../images/ch_new_1.jpg);
    background-position: center;
    /*
    height: calc(100% - 0px);
    */
    height: 603px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    /*
    max-width: 1017px;
    */
    margin: 0px 70px 0px 0px;
    /*
    width: calc(34% - 0px);
    */
    width: 900px;

}

.empty {
width: 350px;
display: flex;
flex-direction: column;
background-size: cover;
margin: 0px 70px 0px 0px;
}

.advice-main-text {
    max-width: 640px;
    padding: 0px 1px 0px 0px;

    display: block;
}

.advice-main-text h1{
    font-size: 44px;
    line-height: 62px;
    margin: 0px 0 10px;
    color: #596198;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    outline: none;
}

.advice-main-text h2{
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    color: #596198;
    margin: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.advice-button-block{
    align-items: center;
    margin: 90px 0 0;
    display: flex;
    flex-direction: row;
}

.red-button{
    width: auto;
    padding: 0 30px;
    height: 52px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 25px 0 0;
    background-color: #ed7171;
    box-shadow: 0 5px 34px hsla(0, 80%, 69%, 0.78);
    min-width: 110px;
    cursor: pointer;
}

.red-button:hover {
    opacity: 1;
    transition: 0.5s all;
    box-shadow: 0 4px 20px hsla(0, 80%, 69%, 0.78);
    background-color: #ff4f4e;
    width: auto;
    padding: 0 30px;
    height: 52px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 25px 0 0;
    min-width: 110px;
    cursor: pointer;
}

.forum-main {
    width: 100%;
    max-width: 100%;
    align-items: center;
    height: 100%;
    /*
    height: calc(100vh-110px);
    */
    min-height: 650px;
    background-size: cover;
    position: relative;
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: cover;
    background: #ecf6ff;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.forum-main-image {
    background-image: url(../images/20.jpg);
    background-position: center;
    /*
    height: calc(100% - 0px);
    */
    height: 792px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    /*
    max-width: 1017px;
    */
    margin: 0px 0px 0px auto;
    /*
    width: calc(34% - 0px);
    */
    width: 898px;

}

.forum-main-text {
    max-width: 640px;
    padding: 0px 1px 0px 0px;
    margin-left: 70px;
    display: block;
}

.forum-main-text h1{
    font-size: 44px;
    line-height: 62px;
    margin: 0px 0 10px;
    color: #596198;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    outline: none;
}

.forum-main-text h2{
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    color: #596198;
    margin: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.forum-button-block{
    align-items: center;
    margin: 90px 0 0;
    display: flex;
    flex-direction: row;
}


.map-main {
    width: 100%;
    max-width: 100%;
    align-items: center;
    height: 100%;
    /*
    height: calc(100vh-110px);
    */
    min-height: 650px;
    background-size: cover;
    position: relative;
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.map-main-image {
    background-image: url(../images/32.jpg);
    background-position: center;
    /*
    height: calc(100% - 0px);
    */
    height: 675px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    /*
    max-width: 1017px;
    */
    margin: 0px 70px 0px 0px;
    /*
    width: calc(34% - 0px);
    */
    width: 898px;

}

.map-main-text {
    max-width: 640px;
    padding: 0px 1px 0px 0px;

    display: block;
}

.map-main-text h1{
    font-size: 44px;
    line-height: 62px;
    margin: 0px 0 10px;
    color: #596198;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    outline: none;
}

.map-main-text h2{
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    color: #596198;
    margin: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.map-button-block{
    align-items: center;
    margin: 90px 0 0;
    display: flex;
    flex-direction: row;
}

.user-main {
    width: 100%;
    max-width: 100%;
    align-items: center;
    height: 100%;
    /*
    height: calc(100vh-110px);
    */
    min-height: 650px;
    background-size: cover;
    position: relative;
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: cover;
    background: #ecf6ff;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.user-main-image {
    background-image: url(../images/52.jpg);
    background-position: center;
    /*
    height: calc(100% - 0px);
    */
    height: 665px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    /*
    max-width: 1017px;
    */
    margin: 0px 0px 0px auto;
    /*
    width: calc(34% - 0px);
    */
    width: 884px;

}

.user-main-text {
    max-width: 640px;
    padding: 0px 1px 0px 0px;
    margin-left: 70px;
    display: block;
}

.user-main-text h1{
    font-size: 44px;
    line-height: 62px;
    margin: 0px 0 10px;
    color: #596198;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    outline: none;
}

.user-main-text h2{
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    color: #596198;
    margin: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.user-button-block{
    align-items: center;
    margin: 90px 0 0;
    display: flex;
    flex-direction: row;
}


.login-main {
    width: 100%;
    max-width: 100%;
    align-items: center;
    height: 100%;
    /*
    height: calc(100vh-110px);
    */
    min-height: 490px;
    background-size: cover;
    position: relative;
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.login-main-image {
    background-image: url(../images/71.jpg);
    background-position: center;
    /*
    height: calc(100% - 0px);
    */
    height: 497px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    /*
    max-width: 1017px;
    */
    margin: 0px 70px 0px 0px;
    /*
    width: calc(34% - 0px);
    */
    width: 670px;

}

.login-main-text {
    max-width: 640px;
    padding: 0px 1px 0px 0px;

    display: block;
}


.regin-main {
    width: 100%;
    max-width: 100%;
    align-items: center;
    height: 100%;
    /*
    height: calc(100vh-110px);
    */
    min-height: 460px;
    background-size: cover;
    position: relative;
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.regin-main-image {
    background-image: url(../images/82.jpg);
    background-position: center;
    /*
    height: calc(100% - 0px);
    */
    height: 651px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    /*
    max-width: 1017px;
    */
    margin: 0px 40px 0px 0px;
    /*
    width: calc(34% - 0px);
    */
    width: 581px;

}

.regin-main-text {
    max-width: 640px;
    padding: 0px 1px 0px 0px;

    display: block;
}

.regin-button {
    color: #fff;
    background-color: #7be0d0;
    border-color: #7be0d0;
    font-size: 24px;
}

.regin-button:hover {
    color: #7be0d0;
    background-color: #fff;
    border-color: #7be0d0;
    font-size: 24px;
}

.new-nav {
    color: rgba(0, 0, 0, 0.5) !important;
}

.new-nav:hover {
    color: black !important;
}


#footer {
    height: auto;
    box-shadow: none;
    border-top: 1px solid #f6f6f6;
    padding: 50px 0 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    border-bottom: 0px solid #f7f7f7;
    background: white;
    z-index:100;
    position: relative;
    outline: none;
    line-height: 1.15;
}

#footer-div {
    height: auto;
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    display: flex;
    margin: 0 auto;
    outline: none;
}

#footer-a {
    display: block;
    outline: none;
}

#footer-b {
    display: flex;
    outline: none;
    padding-top: 10px;
}

#footer li {
    list-style: none;
}


.tableBR {
	width: 20px;
	height: 20px;
	background-image: url(../svg/si-glyph-wrench-screwdriver.svg);
	background-repeat: no-repeat;
	background-color: white;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
}

.tableER {
    width: 20px;
    height: 20px;
    background-image: url(../svg/si-glyph-trash.svg);
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
}


.table .thead-dark-new th {
  color: #fff;
  background-color: #596198;
  border-color: #454d55;
}

table A {
    color: #7be0d0; /* Цвет ссылок */
}

table A:visited {
    color: #7be0d0; /* Цвет посещенных ссылок */
}

table A:active {
    color: #596198; /* Цвет активных ссылок */
}

table A:hover {
    color: #596198; /* Цвет активных ссылок */
}

.btn-primary-new {
  color: #fff;
  background-color: #596198;
  border-color: #596198;
}

.btn-primary-new:hover {
  color: #fff;
  background-color: #7be0d0;
  border-color: #596198;
}

.btn-primary-new:focus, .btn-primary-new.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary-new.disabled, .btn-primary-new:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary-new:not(:disabled):not(.disabled):active, .btn-primary-new:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary-new:not(:disabled):not(.disabled):active:focus, .btn-primary-new:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}