<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/ped_style.css">
    <link rel="stylesheet" type="text/css" href="static/css/ped_mini_style.css" media="screen and (max-width: 1450px)">
    <title>{{the_title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
	$(document).ready(function(){
	  $("#usersInfo").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#usI tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });
	});
	</script>
    <script>
	$(document).ready(function(){
	  $("#usersInfo2").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#usI2 tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });
	});
	</script>
</head>
<body>
<div id="page">
    <div id ="header">
        <nav class="navbar navbar-expand-lg main-nav">
            <a class="navbar-brand main-logo" href="/">
                <div class="logo-blur">
                    Онлайн
                </div>
                <div class="logo-green">
                    Педиатр
                </div>
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link-new" href="/about">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-new" href="/advice">Советы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-new" href="/map">Найти отделение</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-new" href="/home">Личный кабинет</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <!--<button class="btn login-button my-2 my-sm-0" type="submit">Войти</button>-->
                {% if logged %}
                <a class="btn login-button my-2 my-sm-0" href="/logout">Выйти</a>
                {% else %}
                <a class="btn login-button my-2 my-sm-0" href="/login">Войти</a>
                {% endif %}
            </form>
          </div>
        </nav>
    </div>
    <div id="content">
        {% block body %}
        {% endblock %}
    </div>
    <div id="footer">
        <div id="footer-div">
            <div id="footer-a">
                <a class="navbar-brand main-logo-footer" href="/">
                    <div class="logo-blur-footer">
                        Онлайн
                    </div>
                    <div class="logo-green-footer">
                        Педиатр
                    </div>
                </a>
                <div>
                    <p style="font-size: 18px;">Згирская Виктория</p>
                </div>
                <div>
                    <p style="font-size: 18px;">Группа 70421</p>
                </div>
                <div>
                    <p style="font-size: 18px;">БГУИР ИИТ 2019</p>
                </div>
            </div>
            <div id="footer-b">
                <ul>
                    <li>
                        <a class="nav-link-new" href="/about">О нас</a>
                    </li>
                    <li>
                        <a class="nav-link-new" href="/advice">Советы</a>
                    </li>
                    <li>
                        <a class="nav-link-new" href="/map">Найти отделение</a>
                    </li>
                    <li>
                        <a class="nav-link-new" href="/home">Личный кабинет</a>
                    </li>
                </ul>
            </div>
            <div>

            </div>
        </div>
    </div>
</div>
<script src="static/js/ped_js.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>