{% extends 'ped_base.html' %}

{% block body %}
<div>
    <div class="home-main">

        <div class="text-center admin-main" style="margin:30px; padding:30px; border: 2px solid black;">
          <button class="btn btn-primary-new" type="button"
                  data-toggle="modal"
                  data-target="#new_bt"
                  data-whatever="@test">Добавить ребенка</button>
          <hr/>
          <input class="form-control mr-sm-2" type="search" placeholder="Поиск ребенка"
                 aria-label="Search" id="usersInfo">
          <table class="table">
            <thead class="thead-dark-new">
              <tr>
                  <th scope="col">Имя</th>
                  <th scope="col">Дата рождения</th>
                  <th scope="col">Рост</th>
                  <th scope="col">Вес</th>
                  <th scope="col">Вся информация</th>
                  <th scope="col">Редактировать</th>
              </tr>
            </thead>
            <tbody id="usI">
              {% for child in child_list %}
              <tr>
                <td>{{child[2]}}</td>
                  <td>{{child[5]}}</td>
                  <td>{{child[9]}}</td>
                  <td>{{child[10]}}</td>
                  <td>
                      <button class="tableIC btn" type="button"
                              data-toggle="modal" data-target="#n{{child[0]}}info" data-whatever="@test"/>
                  </td>
                  <td>
                      <button class="tableEC btn" type="button"
                              data-toggle="modal" data-target="#n{{child[0]}}edit" data-whatever="@test"/>
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="text-center admin-main" style="margin:30px; padding:30px; border: 2px solid black;">
          <button class="btn btn-primary-new" type="button"
                  data-toggle="modal"
                  data-target="#new_bt2"
                  data-whatever="@test">Добавить вопрос</button>
          <hr/>
          <input class="form-control mr-sm-2" type="search"
                 placeholder="Поиск вопроса" aria-label="Search" id="usersInfo2">
          <table class="table">
            <thead class="thead-dark-new">
              <tr>
                  <th scope="col">Вопросы и Ответы</th>
              </tr>
            </thead>
            <tbody id="usI2">
              {% for question in question_list %}
              <tr>
                <td>
                    <div class="card">
                      <div class="card-header">
                        {{question[7]}}
                      </div>
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <h3 class="card-title">{{question[5]}}</h3>
                          <p>{{question[6]}}</p>
                          <footer class="blockquote-footer">{{question[4]}}
                                 {% if question[8] != 'None' %}
                              <cite title="Source Title">{{question[8]}}</cite>
                              {% endif %}
                          </footer>
                        </blockquote>
                      </div>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>






        <!-- Create New Exp Modal -->
        <div class="modal fade" id="new_bt" tabindex="-1" role="dialog"
             aria-labelledby="new_bt_label" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="new_bt_label">Добавить ребенка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" action="/home" style="margin:30px; padding:30px; border: 2px solid black; background-color: white;">
                    <input type="hidden" name="add" value="C">
                    <div class="form-group row">
                    <div class="col-sm-10">
                        <label for="inputBirthday">Дата Рождения</label>
                      <input type="date" class="form-control" id="inputBirthday"
                             name="birthday" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputFirstName"
                             placeholder="Имя" name="f_name" required>
                    </div>
                  </div>
                    <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputSecondName"
                             placeholder="Фамилия" name="s_name" required>
                    </div>
                  </div>
                    <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputThirdName"
                             placeholder="Отчество" name="t_name" required>
                    </div>
                  </div>
                    <div class="form-group row">
                    <div class="col-sm-10">
                      <select class="form-control" id="inputSex" name="sex">
                                <option value="M">Мальчик</option>
                                <option value="W">Девочка</option>
                      </select>
                    </div>
                  </div>
                    <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputHeight"
                             placeholder="Рост" name="height" required>
                    </div>
                  </div>
                    <div class="form-group row">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputWeight"
                             placeholder="Вес" name="weight" required>
                    </div>
                  </div>
                    <div class="form-group row">
                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputAllergy"
                                placeholder="Аллергия" name="allergy" rows="3"></textarea>
                    </div>
                  </div>
                    <div class="form-group row">
                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputExtra"
                                placeholder="Дополнительные сведения" name="extra" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-10">
                    <hr/>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Create end -->


        <!-- Create 2 New Exp Modal -->
        <div class="modal fade" id="new_bt2" tabindex="-1" role="dialog"
             aria-labelledby="new_bt_label2" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="new_bt_label2">Добавить вопрос</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% if child_list|length > 0 %}
                  <div class="modal-body">
                    <form method="POST" action="/home"
                          style="margin:30px; padding:30px; border: 2px solid black; background-color: white;">
                        <input type="hidden" name="add" value="Q">
                        <div class="form-group row">
                            <div class="col-sm-10">
                            <h4>
                               Выбирите малыша и задайте вопрос
                            </h4>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-10">
                              <select class="form-control" id="inputChild" name="child_id">
                                {% for child in child_list %}
                                <option value="child[0]">{{ child[2] }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                           <div class="form-group row">
                            <div class="col-sm-10">
                              <textarea class="form-control" id="inputQuestion"
                                        placeholder="Вопрос" name="question" rows="3"></textarea>
                            </div>
                          </div>
                      <div class="form-group row">
                        <div class="col-sm-10">
                        <hr/>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        </div>
                      </div>
                    </form>
                  </div>
                {% else %}
                <div class="modal-body">
                    <h3>Необходим хотя бы один ребенек</h3>
                </div>
                {% endif %}
            </div>
          </div>
        </div>
        <!-- Create 2 end -->

                 <!---INFO MODAL-->
                    {% for child in child_list %}
                    <div class="modal fade" id="n{{child[0]}}info" tabindex="-1" role="dialog"
                         aria-labelledby="{{child[0]}}label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="{{child[0]}}label">Ребенок {{child[2]}}. Информация.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                                <div class="col-sm-10">
                                    <h3>Информация</h3>
                                    <h5>Имя: {{child[2]}} {{child[3]}} {{child[4]}}</h5>
                                    <h5>Дата рождения: {{child[5]}}</h5>
                                    <h5>Пол: {{child[6]}}</h5>
                                    <h5>Рост: {{child[9]}}</h5>
                                    <h5>Вес: {{child[10]}}</h5>
                                    <h6>Аллергия: {{child[7]}}</h6>
                                    <h6>Дополнительно: {{child[8]}}</h6>
                                    <hr/>
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Закрыть</button>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!---INFO END-->

                    <!---EDIT MODAL-->
                    {% for child in child_list %}
                    <div class="modal fade" id="n{{child[0]}}edit" tabindex="-1"
                         role="dialog" aria-labelledby="{{child[0]}}label1" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="{{child[0]}}label1">Редактирование {{child[2]}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                          <!--<form method="POST" action="/a_home">-->

                            <div class="input-group mb-3">
                              Редактирование будет реализовано в следующей версии
                            </div>

                            <input type="hidden" name="ch_id" value="{{child[0]}}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <hr/>
                                    <!--<button type="submit" class="btn btn-primary">Подтвердить</button>-->
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                          <!--</form>-->
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!---INFO END-->


    </div>
</div>
{% endblock %}
