{% extends 'ped_base.html' %}

{% block body %}
<div>
    <div class="home-main">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link new-nav" id="home-tab" data-toggle="tab" href="#home" role="tab"
               aria-controls="home" aria-selected="true">Необходимо ответить</a>
          </li>
          <li class="nav-item">
            <a class="nav-link new-nav" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
               aria-controls="profile" aria-selected="false">Ответы даны</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div>
                   <div class="text-center admin-main" style="margin:30px; padding:30px; border: 2px solid black;">
                  <input class="form-control mr-sm-2" type="search"
                         placeholder="Поиск вопроса" aria-label="Search" id="usersInfo">
                  <table class="table">
                    <thead class="thead-dark-new">
                      <tr>
                          <th scope="col">Вопросы и Ответы</th>
                      </tr>
                    </thead>
                    <tbody id="usI">
                      {% for question in question_list %}
                      <tr>
                        <td>
                            <div class="card">
                              <div class="card-header">
                                {{question[7]}}
                              </div>
                              <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <h3 class="card-title">{{question[5]}}</h3>
                                  <footer class="blockquote-footer">Вопрос задал клиент
                                      <cite title="Source Title">{{question[9]}}</cite>
                                  </footer>
                                </blockquote>
                              </div>
                                <div class="card-footer text-muted">
                                          <button class="tableIC btn" type="button"
                                                  data-toggle="modal"
                                                  data-target="#n{{question[0]}}info" data-whatever="@test"
                                                  style="margin-right: 2px;"/>
                                          <button class="tableQC btn" type="button"
                                                  data-toggle="modal"
                                                  data-target="#n{{question[0]}}q" data-whatever="@test"
                                                  style="margin-left: 2px;"/>
                                </div>
                            </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div>
                  <div class="text-center admin-main" style="margin:30px; padding:30px; border: 2px solid black;">
                  <input class="form-control mr-sm-2" type="search"
                         placeholder="Поиск вопроса" aria-label="Search" id="usersInfo2">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                          <th scope="col">Вопросы и Ответы</th>
                      </tr>
                    </thead>
                    <tbody id="usI2">
                      {% for question in question_pass_list %}
                      <tr>
                        <td>
                            <div class="card">
                              <div class="card-header">
                                {{question[7]}} ({{question[9]}})
                              </div>
                              <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <h3 class="card-title">{{question[5]}}</h3>
                                  <p>{{question[6]}}</p>
                                  <footer class="blockquote-footer">{{question[4]}}
                                      <cite title="Source Title">{{question[8]}}</cite>
                                  </footer>
                                </blockquote>
                              </div>
                            </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
    </div>


                    <!---INFO MODAL-->
                    {% for child in child_list %}
                    <div class="modal fade" id="n{{child[0]}}info" tabindex="-1" role="dialog"
                         aria-labelledby="{{child[0]}}label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="{{child[0]}}label">Информация о {{child[2]}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                                <div class="col-sm-10">
                                    <h1>INFO</h1>
                                    <hr/>
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Закрыть</button>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!---INFO END-->

                    <!---MESSAGE MODAL-->
                    {% for question in question_list %}
                    <div class="modal fade" id="n{{question[0]}}q" tabindex="-1"
                         role="dialog" aria-labelledby="{{question[0]}}label1" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title"
                                id="{{question[0]}}label1">Ответить на вопрос клиента {{question[9]}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                          <form method="POST" action="/home">
                            <div class="form-group row">
                            <div class="col-sm-10">
                              <h5>
                                  {{question[5]}}
                              </h5>
                            </div>
                          </div>
                            <div class="form-group row">
                            <div class="col-sm-10">
                              <textarea class="form-control" id="inputAnswer"
                                        placeholder="Ответ" name="answer" rows="3"></textarea>
                            </div>
                          </div>
                            <input type="hidden" name="q_id" value="{{question[0]}}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <hr/>
                                    <button type="submit" class="btn btn-primary">Ответить</button>
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!---INFO END-->
</div>
{% endblock %}
