{% extends 'ped_base.html' %}

{% block body %}
<div>
    <div class="home-main">
              <div>

                  <div class="text-center admin-main" style="margin:30px; padding:30px; border: 2px solid black;">
                      <form method="POST" action="/map">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputName">Название</label>
                              <input type="text" class="form-control" id="inputName" name="inputName"
                                     placeholder="Детская поликлиника №1">
                            </div>
                            <div class="form-group col-md-2">
                              <label for="inputCity">Город</label>
                              <select id="inputCity" class="form-control" name="inputCity">
                                <option selected>Минск</option>
                                <option>...</option>
                              </select>
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inputAddress">Адрес</label>
                              <input type="text" class="form-control" id="inputAddress" name="inputAddress"
                                     placeholder="Золотая горка, 17">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputLink">Ссылка на картку</label>
                            <input type="text" class="form-control" id="inputLink" name="inputLink"
                                   placeholder="https://www.google.by/maps/place/ул.+Золотая+горка+17,+Минск+220089/">
                          </div>
                          <button type="submit" class="btn btn-primary-new">Добавить</button>
                        </form>
                  <hr />
                    <input class="form-control mr-sm-2" type="search" placeholder="Найти отделение"
                           aria-label="Search" id="usersInfo">
                    <table class="table">
                        <thead class="thead-dark-new">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Название</th>
                          <th scope="col">Город</th>
                          <th scope="col">Адрес</th>
                          <th scope="col">Показать на карте</th>
                        </tr>
                      </thead>
                      <tbody id="usI">
                        {% for med_house in med_houses %}
                        <tr>
                          <td>{{loop.index}}</td>
                          <td>{{med_house[1]}}</td>
                          <td>{{med_house[2]}}</td>
                          <td>{{med_house[3]}}</td>
                          <td>
                            <a href="{{med_house[4]}}" target="_blank">Перейти</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    </div>

              </div>


    </div>
</div>
{% endblock %}