{% extends 'ped_base.html' %}

{% block body %}
<div>
    <div class="regin-main">
        <div class="regin-main-image">
        </div>
        <div class="regin-main-text">
            <form action="/registration"  method="POST">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Ваш e-mail</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email"
                  name="email" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Придумайте пароль</label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Ваш пароль"
                  name="password" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputSecondName">Фамилия</label>
                  <input type="text" class="form-control" id="inputSecondName" placeholder="Фамилия"
                  name="lname" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputFirstName">Имя</label>
                  <input type="text" class="form-control" id="inputFirstName" placeholder="Имя"
                  name="fname" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputThirdName">Отчество</label>
                  <input type="text" class="form-control" id="inputThirdName" placeholder="Отчество"
                  name="tname">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputDate">Дата Рождения</label>
                  <input type="date" class="form-control" id="inputDate"
                  name="date" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPhone">Телефон</label>
                  <input type="text" class="form-control" id="inputPhone"
                  placeholder="Номер" name="phone" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">Город</label>
                  <input type="text" class="form-control" id="inputCity"
                  name="city" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">Область</label>
                  <select id="inputState" class="form-control"
                  name="region" required>
                      <option selected>Минская</option>
                      <option>Брестская</option>
                      <option>Витебская</option>
                      <option>Гродненская</option>
                      <option>Гомельская</option>
                      <option>Могилевская</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Индекс</label>
                  <input type="text" class="form-control" id="inputZip" name="postcode">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputAddress">Улица</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Ваша улица"
                  name="street">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputHouse">Дом</label>
                  <input type="text" class="form-control" id="inputHouse" placeholder="Ваш номер дома"
                  name="house">
                </div>
                <div class="form-group col-md-2">
                  <label for="inputFlat">Квартира</label>
                  <input type="text" class="form-control" id="inputFlat" placeholder="Номер"
                  name="flat">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <small id="loginBack"
                       class="form-text text-muted">Вернуться к странице
                    <a href="/login">входа</a></small>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <button class="btn regin-button my-2 my-sm-0" type="submit">Зарегистрироваться</button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}