{% extends 'ped_base.html' %}

{% block body %}
<div>
    <div class="advice-main">
        <div class="advice-main-image">
        </div>
        <div class="advice-main-text">
            <h1>О нас</h1>
            <h2>Хотите узнать чем мы тут с вами знаимаемся? Тогда вам сюда!</h2>
            <div class="advice-button-block">
                <a class="red-button" href="/about">
                    Ознакомиться
                </a>
            </div>
        </div>
    </div>
    <div class="forum-main">
        <div class="forum-main-text">
            <h1>Наши советы</h1>
            <h2>Вы можете ознакомиться с советами наших специалистов</h2>
            <div class="forum-button-block">
                <a class="red-button" href="/advice">
                    Перейти к советам
                </a>
            </div>
        </div>
        <div class="forum-main-image">
        </div>
    </div>
    <div class="map-main">
        <div class="map-main-image">
        </div>
        <div class="map-main-text">
            <h1>Карта отделений</h1>
            <h2>Вы можете воспользоваться нашей картой, для того что бы найти необходимое отделение</h2>
            <div class="map-button-block">
                <a class="red-button" href="/map">
                    Перейти к карте
                </a>
            </div>
        </div>
    </div>
    <div class="user-main">
        <div class="user-main-text">
            <h1>Личный кабинет</h1>
            <h2>Для того что бы задавать вопросы специалистам, либо участвовать в форумах
                вам необходимо войти в личный кабинет</h2>
            <div class="user-button-block">
                <a class="red-button" href="/login">
                    Войти в кабинет
                </a>
            </div>
        </div>
        <div class="user-main-image">
        </div>
    </div>
</div>
{% endblock %}
