{% extends 'ped_base.html' %}

{% block body %}
<div>
    <div class="home-main">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link new-nav" id="home-tab" data-toggle="tab" href="#home" role="tab"
               aria-controls="home" aria-selected="true">Пользователи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link new-nav" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
               aria-controls="profile" aria-selected="false">Настройки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link new-nav" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
               aria-controls="contact" aria-selected="false">БД</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div>



                  <div class="text-center admin-main" style="margin:30px; padding:30px; border: 2px solid black;">
                    <input class="form-control mr-sm-2" type="search" placeholder="Найти пользователя"
                           aria-label="Search" id="usersInfo">
                    <table class="table">
                        <thead class="thead-dark-new">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">E-mail</th>
                          <th scope="col">Role</th>
                          <th scope="col">Status</th>
                          <th scope="col">Edit/Delete</th>
                        </tr>
                      </thead>
                      <tbody id="usI">
                        {% for user in users %}
                        <tr>
                          <td>{{loop.index}}</td>
                          <td>{{user[5]}} {{user[6]}} {{user[7]}}</td>
                          <td>{{user[1]}}</td>
                          <td>{{user[4]}}</td>
                          <td>{{user[3]}}</td>
                          <td>
                          {% if user[4] != 'admin' %}
                          <button class="tableBR btn" type="button" data-toggle="modal"
                                  data-target="#n{{user[0]}}edit" data-whatever="@test"/>
                          <button class="tableER btn" type="button" data-toggle="modal"
                                  data-target="#n{{user[0]}}delete" data-whatever="@test"/>
                          {% endif %}
                          {% if user[4] == 'admin' %}
                          <button class="tableBR btn disabled" type="button"/>
                          <button class="tableER btn disabled" type="button"/>
                          {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    </div>



                    <!---EDIT MODAL-->
                    {% for user in users %}
                    <div class="modal fade" id="n{{user[0]}}edit" tabindex="-1" role="dialog"
                         aria-labelledby="{{user[0]}}label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="{{user[0]}}label">Редактирование {{user[1]}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                          <form method="POST" action="/a_home">

                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                  <input type="radio"
                                         aria-label="Radio button for following text input"
                                         name="edit"
                                         value="role" checked>
                                </div>
                              </div>
                              <select class="custom-select" id="inputRole" name="result">
                                <option value="user">Пациент</option>
                                <option value="doc">Врач</option>
                                <option value="admin">Админ</option>
                              </select>
                            </div>

                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                  <input type="radio"
                                         aria-label="Radio button for following text input"
                                         name="edit"
                                         value="password">
                                </div>
                              </div>
                              <select class="custom-select" id="inputPassword" name="result">
                                <option value="reset">Сбросить пароль</option>
                              </select>
                            </div>

                            <input type="hidden" name="id_user" value="{{user[0]}}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <hr/>
                                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!---EDIT END-->
                    <!---DELETE MODAL-->
                    {% for user in users %}
                    <div class="modal fade" id="n{{user[0]}}delete" tabindex="-1" role="dialog"
                         aria-labelledby="{{user[0]}}label2" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="{{user[0]}}label2">Удаление или блокировка {{user[1]}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                          <form method="POST" action="/a_home">
                            <h3>Будет реализовано в следующей версии</h3>

                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                  <input type="radio"
                                         aria-label="Radio button for following text input"
                                         name="edit"
                                         value="block" checked>
                                </div>
                              </div>
                              <select class="custom-select" id="blockUser" name="result">
                                <option value="block_1">Заблокировтаь за поведение</option>
                                <option value="block_2">Заблокировать по другим причинам</option>
                              </select>
                            </div>

                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                  <input type="radio"
                                         aria-label="Radio button for following text input"
                                         name="edit"
                                         value="delete">
                                </div>
                              </div>
                              <select class="custom-select" id="deleteUser" name="result">
                                <option value="delete_1">Удалить по причине ошибки</option>
                                <option value="delete_2">Удалить без причин</option>
                              </select>
                            </div>


                            <input type="hidden" name="id_user" value="{{user[0]}}">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <hr/>
                                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <!---DELETE END-->

              </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div style="padding: 10px; margin: 10px;">
              <h2>Дополнительные настройки</h2>
            <h3>Данный функционал не поддерживается в текущей версии приложения,
              данная страница будет реализована в следующих версиях</h3>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div style="padding: 10px; margin: 10px;">
            <h2>База данных</h2>
            <h3>Данный функционал не поддерживается в текущей версии приложения,
              данная страница будет реализована в следующих версиях</h3>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}