{% extends 'ped_base.html' %}

{% block body %}
<div>
    <div class="advice-main">
        <div class="empty">
        </div>
        <div class="advice-main-text">
            <h1>Педиатр онлайн</h1>
            <h2>
                Педиатр онлайн - платформа для онлайн-консультаций с врачами круглосуточно и без очередей.
                Это удобная возможность оперативно получить квалифицированную помощь педиатра.
                Вы можете получить консультацию где бы вы ни находились - для выхода на связь с нашими
                специалистами вам понадобится только доступ в интернет.
            </h2>
            <h2>
                Если у вашего малыша высокая температура, сопли, сухой или мокрый кашель,
                он беспокойно спит (возможно режутся зубки или колики) - не ждите осложнений!
                Просто откройте приложение Педиатр онлайн и задайте вопрос врачу.
            </h2>
        </div>
    </div>
    <div class="forum-main">
        <div class="forum-main-text">
            <h1>Консультация</h1>
            <h2>
                Наш врач проконсультирует вас, если ребенку предстоит прививка,как к ней следует подготовиться.
                Как малыш должен чувствовать себя после АКДС или другой прививки, какие могут быть осложнения
                и как их избежать — все это расскажут наши врачи на первой же консультации.
            </h2>
        </div>
    </div>
    <div class="map-main">
        <div class="empty">
        </div>
        <div class="map-main-text">
            <h1>Как это работает?</h1>
            <h2>Для получения всех преимуществ нашей платформы необходимо зарегистрироваться.
                После чего вы получить доступ в личный кабинет, где сможете создать амбулаторную карту своего ребенка
                или нескольких детей. В амбулаторной  карте будет находиться вся необходимая информация о вашем ребенке,
                на которую будет ориентироваться врач при ответе.</h2>
        </div>
    </div>
    <div class="user-main">
        <div class="user-main-text">
            <h1>О чем можно спросить наших врачей онлайн?</h1>
            <h2>
                <ul>
                    <li>расшифровка анализов;</li>
                    <li>фармакологические новинки и показания к их применению;</li>
                    <li>побочные действия принимаемых медикаментов;</li>
                    <li>подозрительная симптоматика;</li>
                    <li>сезонные заболевания и их профилактика;</li>
                    <li>предупреждение болезней;</li>
                    <li>современные методы диагностики и лечения;</li>
                    <li>здоровое питание;</li>
                    <li>лечебная физкультура;</li>
                    <li>общие вопросы по укреплению и поддержанию здоровья.</li>
                </ul>
            </h2>
        </div>
    </div>
</div>
{% endblock %}
