{% extends 'ped_base.html' %}

{% block body %}
<div>
    <div class="home-main">
              <div>

                  <div class="text-center admin-main" style="margin:30px; padding:30px; border: 2px solid black;">
                    <input class="form-control mr-sm-2" type="search" placeholder="Найти отделение"
                           aria-label="Search" id="usersInfo">
                    <table class="table">
                        <thead class="thead-dark-new">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Название</th>
                          <th scope="col">Город</th>
                          <th scope="col">Адрес</th>
                          <th scope="col">Показать на карте</th>
                        </tr>
                      </thead>
                      <tbody id="usI">
                        {% for med_house in med_houses %}
                        <tr>
                          <td>{{loop.index}}</td>
                          <td>{{med_house[1]}}</td>
                          <td>{{med_house[2]}}</td>
                          <td>{{med_house[3]}}</td>
                          <td>
                            <a href="{{med_house[4]}}" target="_blank">Перейти</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    </div>

              </div>


    </div>
</div>
{% endblock %}