{% extends 'ped_base.html' %}

{% block body %}
<div>
    <div class="login-main">
        <div class="login-main-image">
        </div>
        <div class="login-main-text">
            <form action="/login"  method="POST">
              <div class="form-group">
                  <label for="email">Ваш e-mail</label>
                <input type="email" class="form-control" id="email"
                       aria-describedby="email" placeholder="Введите ваш e-mail"
                       name="email" required>
                <small id="emailHelp"
                       class="form-text text-muted">
                    <a href="/registration">Зарегистрируйтесь</a> на сайте, если вы еще не зарегестрированы</small>
              </div>
              <div class="form-group">
                <label for="password">Ваш пароль</label>
                <input type="password" class="form-control"
                       id="password" placeholder="Пароль"
                       name="password" required>
                  <small id="passwordHelp"
                       class="form-text text-muted">Забыли
                    <a href="#">пароль</a> ?</small>
              </div>
                <p style="color: red;">{{error_text}}</p>
              <button class="btn login-button my-2 my-sm-0" type="submit">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}