{% extends 'ped_base.html' %}

{% block body %}
<div>
    <div class="home-main">


        <div class="text-center admin-main" style="margin:30px; padding:30px; border: 2px solid black;">
          <input class="form-control mr-sm-2" type="search"
                 placeholder="Поиск совета" aria-label="Search" id="usersInfo2">
          <table class="table">
            <thead class="thead-dark-new">
              <tr>
                  <th scope="col"><h4>Советы от врачей</h4></th>
              </tr>
            </thead>
            <tbody id="usI2">
              {% for advice in advice_list %}
              <tr>
                <td>
                    <div class="card">
                      <div class="card-header">
                          <h5>{{advice[1]}}</h5>
                      </div>
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            {% for adv in advice[2] %}
                            <h5 class="card-title"
                                style="padding-left: 200px; padding-right: 200px">{{adv}}</h5>
                            {% endfor %}
                          <p>
                              {% if advice[3] != 'None' %}
                              <a href="{{advice[3]}}">Перейти</a>
                              {% endif %}
                          </p>
                          <footer class="blockquote-footer">{{advice[4]}}
                              <cite title="Source Title">{{advice[5]}}</cite>
                          </footer>
                        </blockquote>
                      </div>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>



    </div>
</div>
{% endblock %}